.section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;

  &__container {
    display: flex;
    // justify-content: space-between;
    align-self: center;
    width: 60%;
    height: 35vh;
    margin: 2rem 0;
    border: solid blue 0.025rem;
    border-radius: 0.25rem;
    &:hover {
      position: relative;
      width: 100%;
      height: 50vh;
      transition: 1s;
    }
  }
}

// .canvas-element {
//   &:hover {
//     position: absolute;
//     width: 100%;
//     height: 50vh;
//   }
// }

.subTitle {
  display: flex;
  // width: 100%;
  align-self: center;
  margin: 0 0 0 2rem;
}
